<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<body>
    <div class="container">
        <% if (successMessage) { %>
        <div class="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <% if( friendDetails.length > 0) { %>
        <div class="container">
            <table class="w3-table">
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <% for(let friend of friendDetails)  { %>
                <tr>
                    <td><%= friend.username %></td>
                    <td><%= friend.email %></td>
                    <td>
                        <form action="/unfriend/<%= friend.id %>" method="post">
                            <button class="btn btn-danger" type="submit">Unfriend</button>
                        </form>
                    </td>
                </tr>
                <% } %>

                <% }  else {%>
                <h1>You have no friends yet!</h1>
                <% } %>
            </table>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>
</body>

</html>